.fileuploader-label {
    margin: 43px auto 0;
    opacity: 0.8;
}

.file-upload {
    box-sizing: border-box;
    background-color: #ffffff;
    height: 178px;
    padding: 30px 40px;
    position: relative;
    border: solid 2px rgb(225, 227, 230);
    margin: 13px auto 0;
}
.file-upload.filled {
    border: solid 2px rgb(76, 165, 134);
}

.file-upload-btn {
    width: 180px;
    font-weight: 500!important;
    padding-left: 0;
    padding-right: 0;
    right: 40px;
    left: auto;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.image-upload-wrap {
    position: absolute;
    width: 180px;
    left: 40px;
    top: 30px;
    border-radius: 10px;
    border: dashed 2px rgb(179, 183, 190);
    bottom: 30px;
}

.image-upload-wrap:after {
    content: "OR";
    position: absolute;
    opacity: 0.8;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(112, 119, 133);
    right: -50%;
    top: 50%;
    transform: translateY(-50%);
}

.image-text {
    color: #4ca586;
}
.drag-text {
    width: 100%;
}

.drag-text p {
    margin-top: 10px;
    opacity: 0.8;
}

.image-text {
    left: 40px;
}
.image-text * {
    vertical-align: middle;
}

.image-text img {
    margin-right: 20px;
}

.delete-link {
    cursor: pointer;
    right: 40px;
    left: auto;
}

@media (max-width: 580px){
    .file-upload {
        text-align: center;
        height: auto;
    }
    .vertically-centered,
    .image-upload-wrap  {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(0, 0);
        margin-right: auto;
        margin-left: auto;
    }
    .image-upload-wrap {
        margin-top: 20px;
        padding: 20px;
    }

    .image-upload-wrap:after {
        display: none;
    }
}