.custom-select {
  position: relative;
  user-select: none;
  display: inline-block;
  text-align: center;
}
.custom-select select {
  display: none;
}

.select-selected {
  background-color: transparent;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 50% 1px 1px 1px;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.select-selected.select-arrow-active:after {
  transform: rotate(-135deg) translateY(-20%) translateX(-20%);
}

.select-selected {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px;
  padding-right: 34px;
  cursor: pointer;
}

.select-items div {
  padding: 8px 16px;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}