html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  resize: none; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

input:focus, textarea:focus, a:focus, button:focus, select:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del, s, strike {
  text-decoration: line-through; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, fieldset, footer, header, hgroup, main, nav, section, summary {
  display: block;
  margin: 0; }

ul, ol {
  list-style: none; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-BoldItalic.eot");
  src: url("/fonts/TTWellingtons-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-BoldItalic.woff2") format("woff2"), url("/fonts/TTWellingtons-BoldItalic.woff") format("woff"), url("/fonts/TTWellingtons-BoldItalic.ttf") format("truetype"), url("/fonts/TTWellingtons-BoldItalic.svg#TTWellingtons-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-Black.eot");
  src: url("/fonts/TTWellingtons-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-Black.woff2") format("woff2"), url("/fonts/TTWellingtons-Black.woff") format("woff"), url("/fonts/TTWellingtons-Black.ttf") format("truetype"), url("/fonts/TTWellingtons-Black.svg#TTWellingtons-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-ExtraLightItalic.eot");
  src: url("/fonts/TTWellingtons-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-ExtraLightItalic.woff2") format("woff2"), url("/fonts/TTWellingtons-ExtraLightItalic.woff") format("woff"), url("/fonts/TTWellingtons-ExtraLightItalic.ttf") format("truetype"), url("/fonts/TTWellingtons-ExtraLightItalic.svg#TTWellingtons-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-BlackItalic.eot");
  src: url("/fonts/TTWellingtons-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-BlackItalic.woff2") format("woff2"), url("/fonts/TTWellingtons-BlackItalic.woff") format("woff"), url("/fonts/TTWellingtons-BlackItalic.ttf") format("truetype"), url("/fonts/TTWellingtons-BlackItalic.svg#TTWellingtons-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-ExtraBold.eot");
  src: url("/fonts/TTWellingtons-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-ExtraBold.woff2") format("woff2"), url("/fonts/TTWellingtons-ExtraBold.woff") format("woff"), url("/fonts/TTWellingtons-ExtraBold.ttf") format("truetype"), url("/fonts/TTWellingtons-ExtraBold.svg#TTWellingtons-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-MediumItalic.eot");
  src: url("/fonts/TTWellingtons-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-MediumItalic.woff2") format("woff2"), url("/fonts/TTWellingtons-MediumItalic.woff") format("woff"), url("/fonts/TTWellingtons-MediumItalic.ttf") format("truetype"), url("/fonts/TTWellingtons-MediumItalic.svg#TTWellingtons-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-Thin.eot");
  src: url("/fonts/TTWellingtons-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-Thin.woff2") format("woff2"), url("/fonts/TTWellingtons-Thin.woff") format("woff"), url("/fonts/TTWellingtons-Thin.ttf") format("truetype"), url("/fonts/TTWellingtons-Thin.svg#TTWellingtons-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-DemiBold.eot");
  src: url("/fonts/TTWellingtons-DemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-DemiBold.woff2") format("woff2"), url("/fonts/TTWellingtons-DemiBold.woff") format("woff"), url("/fonts/TTWellingtons-DemiBold.ttf") format("truetype"), url("/fonts/TTWellingtons-DemiBold.svg#TTWellingtons-DemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-Medium.eot");
  src: url("/fonts/TTWellingtons-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-Medium.woff2") format("woff2"), url("/fonts/TTWellingtons-Medium.woff") format("woff"), url("/fonts/TTWellingtons-Medium.ttf") format("truetype"), url("/fonts/TTWellingtons-Medium.svg#TTWellingtons-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-LightItalic.eot");
  src: url("/fonts/TTWellingtons-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-LightItalic.woff2") format("woff2"), url("/fonts/TTWellingtons-LightItalic.woff") format("woff"), url("/fonts/TTWellingtons-LightItalic.ttf") format("truetype"), url("/fonts/TTWellingtons-LightItalic.svg#TTWellingtons-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-DemiBoldItalic.eot");
  src: url("/fonts/TTWellingtons-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-DemiBoldItalic.woff2") format("woff2"), url("/fonts/TTWellingtons-DemiBoldItalic.woff") format("woff"), url("/fonts/TTWellingtons-DemiBoldItalic.ttf") format("truetype"), url("/fonts/TTWellingtons-DemiBoldItalic.svg#TTWellingtons-DemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-ExtraLight.eot");
  src: url("/fonts/TTWellingtons-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-ExtraLight.woff2") format("woff2"), url("/fonts/TTWellingtons-ExtraLight.woff") format("woff"), url("/fonts/TTWellingtons-ExtraLight.ttf") format("truetype"), url("/fonts/TTWellingtons-ExtraLight.svg#TTWellingtons-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-Light.eot");
  src: url("/fonts/TTWellingtons-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-Light.woff2") format("woff2"), url("/fonts/TTWellingtons-Light.woff") format("woff"), url("/fonts/TTWellingtons-Light.ttf") format("truetype"), url("/fonts/TTWellingtons-Light.svg#TTWellingtons-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-Regular.eot");
  src: url("/fonts/TTWellingtons-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-Regular.woff2") format("woff2"), url("/fonts/TTWellingtons-Regular.woff") format("woff"), url("/fonts/TTWellingtons-Regular.ttf") format("truetype"), url("/fonts/TTWellingtons-Regular.svg#TTWellingtons-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-Italic.eot");
  src: url("/fonts/TTWellingtons-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-Italic.woff2") format("woff2"), url("/fonts/TTWellingtons-Italic.woff") format("woff"), url("/fonts/TTWellingtons-Italic.ttf") format("truetype"), url("/fonts/TTWellingtons-Italic.svg#TTWellingtons-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-Bold.eot");
  src: url("/fonts/TTWellingtons-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-Bold.woff2") format("woff2"), url("/fonts/TTWellingtons-Bold.woff") format("woff"), url("/fonts/TTWellingtons-Bold.ttf") format("truetype"), url("/fonts/TTWellingtons-Bold.svg#TTWellingtons-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-ExtraBoldItalic.eot");
  src: url("/fonts/TTWellingtons-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/TTWellingtons-ExtraBoldItalic.woff") format("woff"), url("/fonts/TTWellingtons-ExtraBoldItalic.ttf") format("truetype"), url("/fonts/TTWellingtons-ExtraBoldItalic.svg#TTWellingtons-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'TT Wellingtons';
  src: url("/fonts/TTWellingtons-ThinItalic.eot");
  src: url("/fonts/TTWellingtons-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTWellingtons-ThinItalic.woff2") format("woff2"), url("/fonts/TTWellingtons-ThinItalic.woff") format("woff"), url("/fonts/TTWellingtons-ThinItalic.ttf") format("truetype"), url("/fonts/TTWellingtons-ThinItalic.svg#TTWellingtons-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic; }

h1 {
  font-size: 6.4rem; }

h2 {
  font-size: 5.2rem; }

h3 {
  font-size: 3.2rem;
  line-height: 1.3; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem; }

.text-bigger {
  font-size: 2.8rem; }

.text-large {
  font-size: 18px; }

.text-small {
  font-size: 16px; }

.text-xsmall {
  font-size: 12px; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: bold; }

.text-regular {
  font-weight: 400; }

.text-semibold {
  font-weight: 600; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 42%; } }

*,
*::after,
*::before {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #005677; }

body {
  font-family: "TT Wellingtons";
  font-size: 18px;
  color: #25344b; }

.pagination .back-button,
.pagination .next-button {
  padding: 0 20px;
  vertical-align: middle;
  display: inline-block; }
  .pagination .back-button.disabled,
  .pagination .next-button.disabled {
    opacity: .4; }
  .pagination .back-button img,
  .pagination .next-button img {
    float: left; }

.pagination span {
  display: inline-block;
  font-size: 16px;
  font-weight: 600; }

.pagination .back-button img {
  transform: scaleX(-1); }

.pagination .next-button {
  padding-right: 0; }

.pagination .back-button {
  padding-left: 0; }

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.check-container {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid 2px transparent; }

.check-container input:checked ~ .checkmark {
  border-color: #f9a21b; }

.logo {
  width: 18rem; }
  @media only screen and (max-width: 1199px) {
    .logo {
      width: 140px; } }
  @media only screen and (max-width: 1024px) {
    .logo {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%); } }
  .logo__img {
    display: block; }

.menu-btn {
  position: relative;
  border: none;
  outline: none;
  background: none;
  width: 24px;
  height: 24px;
  margin-bottom: -10px;
  transition: margin 0.3s ease;
  z-index: 3; }
  @media only screen and (max-width: 1024px) {
    .menu-btn {
      position: absolute;
      top: 20px;
      right: 20px; } }
  .menu-btn:focus {
    outline: none; }

.sandwich {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  display: none; }
  @media only screen and (max-width: 1024px) {
    .sandwich {
      display: block; } }
  .sandwich__top, .sandwich__bottom, .sandwich__center {
    position: relative;
    width: 24px;
    height: 2px;
    background-color: #fff;
    border: none;
    border-radius: 4px 4px 4px 4px; }
  .sandwich__top {
    top: 0px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s; }
  .sandwich__center {
    top: 6px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s; }
  .sandwich__bottom {
    top: 12px;
    transition: all 0.5s;
    transition-delay: 0.1s; }

.menu-btn--active {
  margin-bottom: 0; }
  .menu-btn--active .sandwich__top {
    top: 11px;
    transform: rotate(-45deg);
    background-color: #000; }
  .menu-btn--active .sandwich__center {
    top: 9px;
    transform: rotate(45deg);
    background-color: #000; }
  .menu-btn--active .sandwich__bottom {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
    background-color: #000; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 14px 32px 12px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 8px 16px 0 rgba(255, 164, 0, 0.16);
  transition: all 0.2s ease;
  cursor: pointer;
  color: #fff;
  background: #ffa400;
  border: 0;
  text-align: center; }
  .btn.white {
    box-shadow: none;
    background: #fff;
    color: #25344b;
    text-transform: capitalize; }

.down-button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16);
  position: fixed;
  bottom: 0;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: 10;
  border-radius: 50%; }
  @media only screen and (max-width: 1024px) {
    .down-button {
      display: none; } }

.fp-viewing-9 .down-button {
  display: none; }

.form {
  margin: 3rem 0 12rem; }
  .form .half-width {
    float: left;
    width: calc(50% - 10px);
    margin-right: 20px; }
    .form .half-width:nth-child(2) {
      margin-right: 0; }
    @media only screen and (max-width: 768px) {
      .form .half-width {
        width: 100%;
        margin-right: 0; } }
  .form__input, .form__textarea {
    width: 100%;
    font: inherit;
    font-size: 1.8rem;
    padding: 1.8rem 2rem;
    background-color: #ffffff;
    border: solid rgba(0, 86, 119, 0.4);
    border-width: 0 0 4px;
    margin-bottom: 2.4rem;
    position: relative;
    color: #25344b; }
    .form__input:focus, .form__textarea:focus {
      outline-color: #ffa400; }
  .form__textarea {
    height: 6rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 991px) {
      .form__textarea {
        height: 22rem; } }
    @media only screen and (max-width: 767px) {
      .form__textarea {
        height: 15rem; } }
  .form__bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media only screen and (max-width: 767px) {
      .form__bottom {
        text-align: center; }
        .form__bottom .btn {
          margin: 0 auto; } }
  .form__info {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    font-size: 1.4rem;
    color: #524b4c; }
    @media only screen and (max-width: 991px) {
      .form__info {
        margin-bottom: 2rem; } }

.search-input {
  max-width: 520px;
  position: relative;
  padding-left: 57px; }
  .search-input.search-ico {
    position: absolute; }

.hero-wrapper {
  position: relative; }
  @media only screen and (max-width: 1024px) {
    .hero-wrapper .absolute-centered {
      width: 100%;
      padding: 120px 20px 0; } }
  .hero-wrapper.smaller {
    padding-bottom: 30%; }
    @media only screen and (max-width: 1024px) {
      .hero-wrapper.smaller {
        min-height: 480px; } }
    .hero-wrapper.smaller .text-center {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      bottom: 60px; }
  .hero-wrapper h1 + p {
    margin-top: 4rem; }
  .hero-wrapper p + .btn {
    margin-top: 4rem; }
  .hero-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.27;
    background-blend-mode: multiply;
    background-image: linear-gradient(#25344b, #25344b); }

.section-title {
  line-height: 1;
  padding: 0 17px;
  margin-left: -17px;
  white-space: pre-wrap;
  font-size: 40px;
  background-position: 0 34px;
  background-repeat: repeat-x;
  background-size: 100% 30px; }
  .section-title.orange-yellow {
    background-image: linear-gradient(94deg, #ffd52d, #ffab14); }
  .section-title.green {
    background-image: linear-gradient(95deg, #83d1bb, #4ca585); }
  .section-title.light-yellow {
    background-image: linear-gradient(94deg, #f9f7ab, #f0ec73); }
  .section-title.light-green {
    background-image: linear-gradient(97deg, #d5efc4, #aada91); }

.grey-bg {
  position: relative; }
  .grey-bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.56;
    background-image: linear-gradient(to top, #ffffff, #e5eef1); }

.theme-section .container, .theme-section .big-container {
  position: relative;
  height: inherit; }

.theme-section .text-block {
  right: 24px;
  position: absolute;
  bottom: 10%;
  width: 50%;
  padding: 86px 80px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16); }
  @media only screen and (max-width: 1024px) {
    .theme-section .text-block {
      padding: 40px 80px; } }
  @media only screen and (max-width: 768px) {
    .theme-section .text-block {
      padding: 40px;
      width: 100%;
      bottom: 40px;
      max-width: 480px; } }
  .theme-section .text-block p {
    margin-top: 3.5rem; }
  .theme-section .text-block h4 {
    margin-top: 1.8rem;
    font-weight: 500; }
    .theme-section .text-block h4 a {
      color: #707785; }

.blog-post {
  max-width: 864px;
  margin: 40px auto 0;
  box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16); }
  .blog-post .img-wrapper {
    padding-bottom: 40%; }
  .blog-post .social-block a {
    margin-left: 24px; }
  .blog-post .social-block a,
  .blog-post .social-block span {
    vertical-align: middle;
    display: inline-block; }
  .blog-post .date {
    position: absolute;
    top: 40px;
    right: 32px;
    font-size: 20px; }
    @media only screen and (max-width: 768px) {
      .blog-post .date {
        position: relative;
        right: 0;
        top: 0; } }
    .blog-post .date .bigger {
      font-size: 28px; }
  .blog-post .text-block {
    padding: 28px 32px 34px;
    position: relative; }
    .blog-post .text-block h3 {
      margin-top: 4px;
      width: calc(100% - 150px);
      white-space: nowrap;
      text-overflow: ellipsis; }
    .blog-post .text-block p {
      margin-top: 12px; }
  .blog-post .table {
    width: 100%;
    margin-top: 15px;
    display: table; }
    @media only screen and (max-width: 768px) {
      .blog-post .table {
        display: block; } }
    .blog-post .table .table-cell {
      display: table-cell;
      vertical-align: middle; }
      @media only screen and (max-width: 768px) {
        .blog-post .table .table-cell {
          display: block;
          text-align: center; } }

.blog-page-inside-post {
  position: relative; }
  .blog-page-inside-post .max-width {
    position: relative;
    max-width: 720px;
    margin: 8rem auto; }
    @media only screen and (max-width: 1024px) {
      .blog-page-inside-post .max-width {
        margin: 4rem auto; } }
  .blog-page-inside-post .social-block {
    margin-top: 4rem; }
    .blog-page-inside-post .social-block a {
      margin-left: 24px; }
    .blog-page-inside-post .social-block a,
    .blog-page-inside-post .social-block span {
      vertical-align: middle;
      display: inline-block; }
  .blog-page-inside-post p + p,
  .blog-page-inside-post .img-container + p,
  .blog-page-inside-post .img-container {
    margin-top: 20px; }
  .blog-page-inside-post .img-caption {
    display: block;
    margin-top: 8px;
    opacity: 0.8;
    text-align: center; }
  .blog-page-inside-post .arr-left,
  .blog-page-inside-post .arr-right {
    position: absolute;
    z-index: 2;
    top: 10%;
    width: 83px;
    height: 83px;
    background-color: white;
    box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16);
    display: inline-block;
    border-radius: 50%; }
    .blog-page-inside-post .arr-left:after,
    .blog-page-inside-post .arr-right:after {
      content: "";
      border: solid #4ca585;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: rotate(135deg) translateY(50%);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4px; }
    @media only screen and (max-width: 1024px) {
      .blog-page-inside-post .arr-left,
      .blog-page-inside-post .arr-right {
        position: relative;
        display: inline-block;
        top: 0;
        margin-top: 20px;
        margin-right: 40px;
        width: 60px;
        height: 60px; } }
  .blog-page-inside-post .arr-left {
    left: 60px; }
    @media only screen and (max-width: 1199px) {
      .blog-page-inside-post .arr-left {
        left: 10px; } }
    @media only screen and (max-width: 1024px) {
      .blog-page-inside-post .arr-left {
        left: 0;
        margin-left: 20px; } }
  .blog-page-inside-post .arr-right {
    right: 60px; }
    .blog-page-inside-post .arr-right:after {
      transform: rotate(-45deg) translateY(-50%); }
    @media only screen and (max-width: 1199px) {
      .blog-page-inside-post .arr-right {
        right: 10px; } }
    @media only screen and (max-width: 1024px) {
      .blog-page-inside-post .arr-right {
        right: 0; } }
  .blog-page-inside-post .indicators {
    margin-top: 20px; }
  .blog-page-inside-post .back {
    z-index: 2;
    position: absolute;
    left: 60px;
    top: 0; }
    @media only screen and (max-width: 1199px) {
      .blog-page-inside-post .back {
        left: 10px; } }
    @media only screen and (max-width: 1024px) {
      .blog-page-inside-post .back {
        display: block;
        left: 0;
        position: relative;
        margin-top: 40px;
        padding-left: 20px; } }
    .blog-page-inside-post .back span {
      vertical-align: middle;
      color: #25344b; }
    .blog-page-inside-post .back img {
      transform: rotate(180deg);
      margin-right: 10px;
      vertical-align: middle; }

.indicators {
  margin-right: 50px;
  display: inline-block; }
  @media only screen and (max-width: 768px) {
    .indicators {
      margin: 20px; } }
  .indicators span,
  .indicators img {
    vertical-align: middle; }
  .indicators span {
    margin-left: 10px; }

.event-block {
  width: calc(33.3% - 40px);
  float: left;
  margin: 7rem 20px 0;
  position: relative;
  background-color: white;
  box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16);
  text-align: left; }
  @media only screen and (max-width: 1024px) {
    .event-block {
      width: calc(50% - 80px);
      margin: 7rem 35px 0;
      float: none;
      display: inline-block; } }
  @media only screen and (max-width: 768px) {
    .event-block {
      margin: 4rem 20px 0;
      width: 320px; } }
  .event-block .event-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
  .event-block .img-wrapper {
    padding-bottom: 75%; }
  .event-block .text-part {
    padding: 2.8rem 4rem 2.5rem; }
    @media only screen and (max-width: 768px) {
      .event-block .text-part {
        padding: 32px; } }
  .event-block h3 + p {
    margin-top: 1.2rem; }

.main-text-block {
  max-width: 720px;
  padding: 8rem 0 11rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1024px) {
    .main-text-block {
      padding: 5rem 0 7rem; } }
  .main-text-block p {
    margin-top: 3rem; }
  .main-text-block .btn {
    margin-top: 3rem;
    font-weight: 500; }
  .main-text-block.smaller-margins {
    padding: 8rem 0 5rem; }
    @media only screen and (max-width: 1024px) {
      .main-text-block.smaller-margins {
        padding: 5rem 0 4rem; } }

/*CUSTOM*/
/*------------------------------------------------------------------------------------------------------*/
.daterangepicker {
  padding: 10px 30px 10px; }
  @media only screen and (max-width: 1024px) {
    .daterangepicker {
      padding: 0; } }

.daterangepicker .drp-selected {
  display: none; }

.daterangepicker .drp-buttons {
  border-top: 0; }

@media only screen and (max-width: 1024px) {
  .daterangepicker .drp-calendar.left {
    padding: 0; } }

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  width: 37px;
  height: 37px;
  font-size: 16px;
  line-height: 36px;
  border-radius: 0;
  font-weight: 400;
  box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
      width: 20px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      padding: 0;
      min-width: 20px; } }

.daterangepicker .calendar-table thead tr:nth-child(1) th {
  height: 45px;
  line-height: 45px; }

.daterangepicker .calendar-table thead tr:nth-child(2) {
  background-color: rgba(225, 227, 230, 0.16); }
  .daterangepicker .calendar-table thead tr:nth-child(2) th,
  .daterangepicker .calendar-table thead tr:nth-child(2) td {
    font-size: 14px;
    color: #b3b7be;
    padding: 4px 10px;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box; }

.daterangepicker .drp-calendar.right {
  padding-left: 40px; }
  @media only screen and (max-width: 1024px) {
    .daterangepicker .drp-calendar.right {
      padding-left: 0;
      float: none; } }

.daterangepicker td.start-date.end-date {
  border-radius: 0; }

.daterangepicker .drp-buttons .btn {
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 86, 120, 0.8);
  box-shadow: none;
  padding: 10px; }
  .daterangepicker .drp-buttons .btn.cancelBtn {
    color: rgba(37, 52, 75, 0.8);
    float: left;
    margin-left: 0; }

.daterangepicker th.month {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #707785; }

.datepicker {
  cursor: pointer;
  position: relative;
  margin-top: 12px; }
  .datepicker .right-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30px, -50%);
    opacity: 0.6; }
  .datepicker .output {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: table;
    width: 100%;
    height: 112px; }
    .datepicker .output .start-date,
    .datepicker .output .end-date {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      width: 50%;
      display: table-cell;
      padding-right: 44px;
      box-sizing: border-box;
      vertical-align: middle; }
      .datepicker .output .start-date .date,
      .datepicker .output .end-date .date {
        display: inline-block;
        width: 100%;
        font-size: 60px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -2.3px;
        text-align: center;
        color: #25344b;
        font-family: Arial; }
      .datepicker .output .start-date .month,
      .datepicker .output .end-date .month {
        display: inline-block;
        width: 100%;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -1px;
        text-align: center;
        color: #25344b; }
    .datepicker .output .end-date {
      position: relative; }
      .datepicker .output .end-date:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 8px solid #ffab14;
        top: 50%;
        left: 100%;
        transform: translate(-34px, -50%); }
  .datepicker input[name="dates"] {
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 100%;
    color: transparent;
    background: transparent;
    height: 112px;
    border: solid 2px #e1e3e6; }

.slidedown-select {
  margin-top: 16px; }
  .slidedown-select + .slidedown-select {
    margin-top: 6px; }
  .slidedown-select .js-toggle-select {
    margin-bottom: 5px;
    position: relative;
    opacity: 0.8;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .slidedown-select .js-toggle-select:after {
      position: absolute;
      content: "";
      top: 4px;
      right: 2px;
      border: solid black;
      border-width: 0 2px 2px 0;
      border-radius: 50% 1px 1px 1px;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg); }
    .slidedown-select .js-toggle-select.active:after {
      transform: rotate(-135deg); }
  .slidedown-select ul {
    display: none; }
    .slidedown-select ul li {
      cursor: pointer;
      font-size: 16px;
      line-height: 2.08;
      opacity: 0.8; }
      .slidedown-select ul li.active {
        font-weight: 600; }

.download-section {
  background-color: #f3f7f9;
  padding: 8rem 0; }
  .download-section .tile {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: white;
    box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16);
    padding: 24px 24px 24px 96px;
    box-sizing: border-box;
    max-width: 360px;
    text-align: left; }
    .download-section .tile a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .download-section .tile img {
      position: absolute;
      top: 24px;
      left: 28px; }
    .download-section .tile span {
      display: inline-block;
      margin-top: 4px;
      opacity: 0.8;
      color: #005678; }

.text-snow {
  color: #fff; }

.text-grey {
  color: rgba(20, 20, 20, 0.24); }

.text-darkgrey {
  color: #707785; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-fix:after {
  content: "";
  clear: both;
  display: table; }

.vertically-centered {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.pic-overlay {
  position: relative; }
  .pic-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.arrow-link:after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(/img/icn-more.svg) no-repeat center;
  margin-left: 9px;
  vertical-align: top;
  display: inline-block; }

hr {
  border-width: 2px 0 0;
  border-color: #e1e3e6;
  margin: 2rem 0;
  outline: 0;
  border-style: solid; }

.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  .page-header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 60px 120px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media only screen and (max-width: 1024px) {
      .page-header__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        opacity: 0.98;
        padding: 0; } }
  @media only screen and (max-width: 1024px) {
    .page-header .nav {
      transform: translateY(-100%);
      width: 100%;
      padding: 20px;
      transition: .4s; } }
  .page-header .nav.active {
    background: #fff;
    z-index: 1;
    transform: translateY(0); }
  .page-header .nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 1024px) {
      .page-header .nav__list {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem; } }
  .page-header .nav__item:not(:last-child) {
    margin-right: 4rem; }
    @media only screen and (max-width: 1024px) {
      .page-header .nav__item:not(:last-child) {
        margin-right: 0; } }
  @media only screen and (max-width: 1024px) {
    .page-header .nav__item {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 1024px) {
    .page-header .nav__link {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      padding: 2rem;
      color: #25344b; } }

.footer {
  padding: 60px 0 73px;
  background-image: linear-gradient(108deg, #f2f3f4, #e1e3e6); }
  @media only screen and (max-width: 1024px) {
    .footer {
      padding: 40px 0 60px; } }
  @media only screen and (max-width: 768px) {
    .footer {
      padding: 1px 0 40px; } }
  .footer .container, .footer .big-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .footer .container, .footer .big-container {
        display: block; } }
  @media only screen and (max-width: 768px) {
    .footer .footer-block {
      margin-top: 40px; } }
  .footer ul {
    margin-top: 12px; }
  .footer li {
    margin-top: 8px; }
  .footer .address-block li,
  .footer .address-block a {
    color: #25344b; }
  .footer .social-block li {
    float: left;
    width: 50%; }
    @media only screen and (max-width: 768px) {
      .footer .social-block li {
        width: auto;
        margin-right: 19px; } }
  @media only screen and (max-width: 1024px) {
    .footer .text-small {
      font-size: 12px; } }

.container, .big-container {
  max-width: 1198px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px; }

.big-container {
  max-width: 1320px; }

.partners-wrapper {
  padding: 6.6rem 0; }
  .partners-wrapper .partners-list {
    margin-top: 6.7rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media only screen and (max-width: 768px) {
      .partners-wrapper .partners-list {
        display: block;
        text-align: center; } }
    .partners-wrapper .partners-list .partner-container {
      width: 20%;
      vertical-align: middle;
      display: inline-block; }
      @media only screen and (max-width: 768px) {
        .partners-wrapper .partners-list .partner-container {
          width: 32%; } }

.map-section .weather {
  position: absolute;
  left: 15%;
  top: 84%; }

.map-section .container, .map-section .big-container {
  padding: 6.5rem 20px;
  background-position-x: right;
  background-position-y: 6.5rem;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 768px) {
    .map-section .container, .map-section .big-container {
      background-size: 50%; } }

.map-section .section-text-block {
  padding-bottom: 15rem; }

.map-section .map-text-block {
  width: calc(48% + 120px);
  padding: 16.7rem 0 18.7rem; }
  @media only screen and (max-width: 768px) {
    .map-section .map-text-block {
      width: 100%;
      padding: 74px 0;
      max-width: 480px;
      margin: 0 auto; } }
  .map-section .map-text-block p {
    margin-top: 4.8rem;
    max-width: 50.6rem; }

.section-text-block {
  position: relative; }
  @media only screen and (max-width: 768px) {
    .section-text-block {
      max-width: 480px;
      margin: 0 auto; } }
  .section-text-block.with-paddings {
    margin: 120px 0 0; }
    @media only screen and (max-width: 768px) {
      .section-text-block.with-paddings {
        margin: 60px auto 0; } }
  .section-text-block .img-block {
    width: 50%;
    position: relative;
    z-index: 2;
    padding-bottom: 40%;
    box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.25); }
    @media only screen and (max-width: 768px) {
      .section-text-block .img-block {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        box-shadow: none; } }
  .section-text-block .text-block {
    margin-left: -120px;
    margin-top: 15%;
    width: calc(48% + 120px);
    padding: 86px 80px 80px 200px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16); }
    @media only screen and (max-width: 1199px) {
      .section-text-block .text-block {
        padding: 60px 80px 60px 160px;
        margin-left: -80px;
        width: calc(48% + 80px); } }
    @media only screen and (max-width: 768px) {
      .section-text-block .text-block {
        margin-left: 0;
        width: 100%;
        padding: 73px 40px 40px;
        margin-top: -30px; } }
    .section-text-block .text-block p {
      margin-top: 3.5rem; }
    .section-text-block .text-block h4 {
      margin-top: 1.8rem;
      font-weight: 500; }
      .section-text-block .text-block h4 a {
        color: #707785; }
  .section-text-block.img-on-right .text-block {
    padding-left: 80px;
    padding-right: 200px;
    margin-right: -120px;
    margin-left: 0; }
    @media only screen and (max-width: 1199px) {
      .section-text-block.img-on-right .text-block {
        padding-left: 50px;
        margin-right: -80px;
        padding-right: 160px; } }
    @media only screen and (max-width: 768px) {
      .section-text-block.img-on-right .text-block {
        padding: 73px 40px 40px;
        margin-right: 0; } }

.contact-wrapper {
  max-width: 740px;
  margin: 8rem auto 0; }
  .contact-wrapper .btn {
    width: 144px; }

.event-section .slider-section {
  position: relative; }

.event-section .big-slider {
  max-width: 720px;
  margin: 0 auto; }
  @media only screen and (max-width: 1199px) {
    .event-section .big-slider {
      max-width: 680px; } }
  .event-section .big-slider .big-slide {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 540px; }
    @media only screen and (max-width: 1199px) {
      .event-section .big-slider .big-slide {
        height: 511px; } }
    @media only screen and (max-width: 768px) {
      .event-section .big-slider .big-slide {
        height: 400px; } }

.event-section .nav-slider {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0; }
  .event-section .nav-slider .nav-slide {
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0 20px;
    height: 120px;
    width: 160px; }
    @media only screen and (max-width: 1199px) {
      .event-section .nav-slider .nav-slide {
        width: 140px;
        height: 105px; } }
    @media only screen and (max-width: 768px) {
      .event-section .nav-slider .nav-slide {
        width: 105px;
        height: 78px; } }
    .event-section .nav-slider .nav-slide:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.32;
      background-blend-mode: color;
      background-color: white;
      box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16); }

.event-section .event-info {
  margin-top: 45px; }
  .event-section .event-info h2 {
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    width: auto; }
    @media only screen and (max-width: 768px) {
      .event-section .event-info h2 {
        width: 100%; } }
  .event-section .event-info p {
    margin-top: 5px;
    width: calc(100% - 160px);
    vertical-align: top;
    padding-left: 80px;
    box-sizing: border-box; }
    @media only screen and (max-width: 768px) {
      .event-section .event-info p {
        width: 100%;
        padding-left: 0; } }

.blog-page .filter-wrapper .big-container {
  display: table; }
  @media only screen and (max-width: 1024px) {
    .blog-page .filter-wrapper .big-container {
      display: block;
      margin-top: 40px; } }
  .blog-page .filter-wrapper .big-container .table-cell {
    display: table-cell;
    vertical-align: middle; }
    @media only screen and (max-width: 1024px) {
      .blog-page .filter-wrapper .big-container .table-cell {
        display: block;
        text-align: left;
        overflow: hidden; } }
  .blog-page .filter-wrapper .big-container .search-container {
    margin: 0 20px; }
    @media only screen and (max-width: 1024px) {
      .blog-page .filter-wrapper .big-container .search-container {
        margin: 20px 0 0; } }
  .blog-page .filter-wrapper .big-container .checkbox-wrapper {
    display: inline-block;
    padding-left: 22px;
    box-sizing: border-box; }
    @media only screen and (max-width: 1024px) {
      .blog-page .filter-wrapper .big-container .checkbox-wrapper {
        width: calc(100% - 70px);
        white-space: nowrap;
        overflow: scroll;
        vertical-align: middle; } }
    .blog-page .filter-wrapper .big-container .checkbox-wrapper .check-container {
      margin-left: 8px; }

.blog-page .small-filter-wrapper .custom-select {
  width: 70px; }

.blog-page .small-filter-wrapper .table {
  max-width: 864px;
  width: 100%;
  margin: 38px auto;
  display: table; }
  @media only screen and (max-width: 768px) {
    .blog-page .small-filter-wrapper .table {
      display: block; } }
  .blog-page .small-filter-wrapper .table .table-cell {
    display: table-cell;
    vertical-align: middle; }
    @media only screen and (max-width: 768px) {
      .blog-page .small-filter-wrapper .table .table-cell {
        display: block;
        text-align: center; } }

.blog-page .small-filter-wrapper .select-label {
  opacity: 0.8; }

.blog-page .pagination-container {
  margin: 4rem 0 10rem; }

.explore-page .theme-section {
  height: 100vh; }

.explore-page .filter-wrapper {
  width: 320px;
  position: absolute;
  top: 50%;
  background: #fff;
  left: 0;
  transform: translateY(-50%);
  padding: 4rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    .explore-page .filter-wrapper {
      position: relative;
      top: 0;
      transform: translateY(0);
      margin: 0 auto 4rem; } }
  .explore-page .filter-wrapper .checkbox-wrapper {
    margin-top: 1.2rem; }
    .explore-page .filter-wrapper .checkbox-wrapper .check-container {
      margin-bottom: 2.4rem;
      width: 100%;
      padding: 17px 20px 18px; }
      .explore-page .filter-wrapper .checkbox-wrapper .check-container .checkmark {
        border-color: #e1e3e6; }
  .explore-page .filter-wrapper .check-container input:checked ~ .checkmark {
    border-color: #f9a21b; }
  .explore-page .filter-wrapper .location-ico {
    right: 16px;
    left: auto;
    width: 24px;
    height: 24px; }

.explore-page .map-section {
  padding-bottom: 60%;
  position: relative; }
  .explore-page .map-section #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.explore-page .events-wrapper {
  margin-bottom: 12rem; }
  @media only screen and (max-width: 1024px) {
    .explore-page .events-wrapper {
      text-align: center; } }
  .explore-page .events-wrapper .event-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.explore-page .btn-wrapper {
  margin-top: 6rem; }

.plan-page .events-wrapper {
  margin: 0 auto 9rem;
  text-align: center; }
  .plan-page .events-wrapper .event-block {
    width: calc(33.3% - 50px);
    float: none;
    display: inline-block; }
    @media only screen and (max-width: 1024px) {
      .plan-page .events-wrapper .event-block {
        width: calc(50% - 80px);
        margin: 7rem 35px 0;
        float: none;
        display: inline-block; } }
    @media only screen and (max-width: 768px) {
      .plan-page .events-wrapper .event-block {
        margin: 4rem 20px 0;
        width: 320px; } }

.plan-page .events-calendar-text {
  padding: 4.5rem 0 11rem; }

.plan-page .calendar-widget {
  background-color: white;
  box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16);
  padding: 24px;
  box-sizing: border-box;
  width: 100%; }

.plan-page .events-calendar-wrapper .left-part {
  float: left;
  width: 280px; }
  @media only screen and (max-width: 1024px) {
    .plan-page .events-calendar-wrapper .left-part {
      max-width: 375px;
      width: 100%;
      margin: 0 auto 8rem;
      float: none; } }
  .plan-page .events-calendar-wrapper .left-part .custom-select {
    width: 100%;
    text-align: left; }
  .plan-page .events-calendar-wrapper .left-part .select-selected {
    padding: 5px 0; }

.plan-page .events-calendar-wrapper .right-part {
  width: calc(100% - 280px);
  padding-left: 60px;
  box-sizing: border-box;
  float: left; }
  @media only screen and (max-width: 1199px) {
    .plan-page .events-calendar-wrapper .right-part {
      padding-left: 50px; } }
  @media only screen and (max-width: 1024px) {
    .plan-page .events-calendar-wrapper .right-part {
      width: 100%;
      padding-left: 0; } }

.plan-page .events-calendar-wrapper .events-calendar-block {
  margin-bottom: 5rem; }
  @media only screen and (max-width: 1024px) {
    .plan-page .events-calendar-wrapper .events-calendar-block {
      width: 50%;
      margin: 0 auto 4rem; } }
  @media only screen and (max-width: 768px) {
    .plan-page .events-calendar-wrapper .events-calendar-block {
      width: 100%;
      max-width: 375px; } }
  .plan-page .events-calendar-wrapper .events-calendar-block .img-wrapper {
    width: 35%;
    padding-bottom: 25%; }
    @media only screen and (max-width: 1199px) {
      .plan-page .events-calendar-wrapper .events-calendar-block .img-wrapper {
        margin-top: 11px; } }
    @media only screen and (max-width: 1024px) {
      .plan-page .events-calendar-wrapper .events-calendar-block .img-wrapper {
        width: 100%;
        padding-bottom: 75%;
        margin-top: 17px; } }
  .plan-page .events-calendar-wrapper .events-calendar-block .text-wrapper {
    width: 65%;
    padding-left: 4rem;
    box-sizing: border-box; }
    @media only screen and (max-width: 1024px) {
      .plan-page .events-calendar-wrapper .events-calendar-block .text-wrapper {
        width: 100%;
        padding-left: 0; } }
    .plan-page .events-calendar-wrapper .events-calendar-block .text-wrapper h3 + span {
      margin-top: 8px;
      display: inline-block; }
    .plan-page .events-calendar-wrapper .events-calendar-block .text-wrapper p {
      margin-top: 24px; }
      @media only screen and (max-width: 1199px) {
        .plan-page .events-calendar-wrapper .events-calendar-block .text-wrapper p {
          margin-top: 11px; } }
      @media only screen and (max-width: 1024px) {
        .plan-page .events-calendar-wrapper .events-calendar-block .text-wrapper p {
          margin-top: 20px; } }
    .plan-page .events-calendar-wrapper .events-calendar-block .text-wrapper h3 {
      margin-top: 8px; }
  @media only screen and (max-width: 1199px) {
    .plan-page .events-calendar-wrapper .events-calendar-block .date-info {
      float: none;
      width: 100%;
      padding-left: 0; } }

.contact-page .contact-section {
  padding: 11rem 0 7rem; }
  @media only screen and (max-width: 1024px) {
    .contact-page .contact-section {
      padding: 8rem 0 4rem; } }
  .contact-page .contact-section .map,
  .contact-page .contact-section .form-section {
    width: 50%;
    box-sizing: border-box;
    float: left; }
    @media only screen and (max-width: 1024px) {
      .contact-page .contact-section .map,
      .contact-page .contact-section .form-section {
        float: none;
        max-width: 720px;
        margin: 0 auto;
        width: 100%; } }
  .contact-page .contact-section .form-section {
    padding-left: 40px; }
    @media only screen and (max-width: 1024px) {
      .contact-page .contact-section .form-section {
        padding-left: 0;
        margin-top: 6rem; } }
    .contact-page .contact-section .form-section textarea {
      height: 144px;
      box-sizing: border-box; }
  .contact-page .contact-section .map {
    padding-right: 40px; }
    @media only screen and (max-width: 1024px) {
      .contact-page .contact-section .map {
        padding-right: 0; } }
    .contact-page .contact-section .map p {
      margin-top: 2.7rem; }
    .contact-page .contact-section .map #map {
      margin-top: 3.6rem;
      width: 100%;
      padding-bottom: 50%; }
    .contact-page .contact-section .map .left,
    .contact-page .contact-section .map .right {
      width: 50%;
      margin-top: 13px;
      float: left; }
      @media only screen and (max-width: 480px) {
        .contact-page .contact-section .map .left,
        .contact-page .contact-section .map .right {
          width: 100%; } }
      .contact-page .contact-section .map .left *,
      .contact-page .contact-section .map .right * {
        display: inline-block;
        width: 100%; }

.agendas-page .main-text-block {
  padding: 8rem 0; }

.agendas-page .filter-wrapper .container, .agendas-page .filter-wrapper .big-container {
  max-width: 715px;
  margin: 20px auto;
  display: table; }
  @media only screen and (max-width: 1024px) {
    .agendas-page .filter-wrapper .container, .agendas-page .filter-wrapper .big-container {
      display: block;
      margin-top: 40px; } }
  .agendas-page .filter-wrapper .container .table-cell, .agendas-page .filter-wrapper .big-container .table-cell {
    display: table-cell;
    vertical-align: middle; }
    @media only screen and (max-width: 1024px) {
      .agendas-page .filter-wrapper .container .table-cell, .agendas-page .filter-wrapper .big-container .table-cell {
        display: block;
        text-align: left;
        overflow: hidden; } }
  .agendas-page .filter-wrapper .container .year-container, .agendas-page .filter-wrapper .big-container .year-container {
    margin: 0 20px; }
    @media only screen and (max-width: 1024px) {
      .agendas-page .filter-wrapper .container .year-container, .agendas-page .filter-wrapper .big-container .year-container {
        margin: 20px 0 0; } }
    .agendas-page .filter-wrapper .container .year-container .form__input, .agendas-page .filter-wrapper .big-container .year-container .form__input {
      margin-bottom: 0;
      margin-left: 40px; }
      @media only screen and (max-width: 1024px) {
        .agendas-page .filter-wrapper .container .year-container .form__input, .agendas-page .filter-wrapper .big-container .year-container .form__input {
          margin-left: 0; } }
  .agendas-page .filter-wrapper .container .checkbox-wrapper, .agendas-page .filter-wrapper .big-container .checkbox-wrapper {
    display: inline-block;
    padding-left: 22px;
    box-sizing: border-box; }
    @media only screen and (max-width: 1024px) {
      .agendas-page .filter-wrapper .container .checkbox-wrapper, .agendas-page .filter-wrapper .big-container .checkbox-wrapper {
        width: calc(100% - 70px);
        white-space: nowrap;
        overflow: scroll;
        vertical-align: middle; } }
    .agendas-page .filter-wrapper .container .checkbox-wrapper .check-container, .agendas-page .filter-wrapper .big-container .checkbox-wrapper .check-container {
      margin-left: 8px; }

.agendas-page .agendas-wrapper {
  margin-bottom: 10rem; }
  @media only screen and (max-width: 1024px) {
    .agendas-page .agendas-wrapper {
      margin-bottom: 6rem; } }

.agendas-page .agenda {
  background-image: linear-gradient(138deg, white, #dbecf3);
  box-shadow: 0 12px 24px 0 rgba(37, 52, 75, 0.16);
  padding-bottom: 110px;
  box-sizing: border-box;
  height: 263px;
  position: relative;
  text-align: center;
  padding-top: 68px;
  margin: 20px;
  width: calc(25% - 40px);
  float: left; }
  @media only screen and (max-width: 1024px) {
    .agendas-page .agenda {
      width: calc(33% - 40px); } }
  @media only screen and (max-width: 768px) {
    .agendas-page .agenda {
      width: calc(50% - 40px); } }
  @media only screen and (max-width: 480px) {
    .agendas-page .agenda {
      width: calc(100% - 40px); } }
  .agendas-page .agenda .btn-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .agendas-page .agenda .btn-container .btn {
      float: left;
      width: 100%;
      margin-bottom: 4px; }

.grants-page .download-section {
  padding: 9rem 0; }
  .grants-page .download-section .tile {
    margin: 30px;
    max-width: 320px; }

.grants-page .submit-btn {
  margin-top: 46px; }

.grants-page .form {
  max-width: 600px;
  margin: 8rem auto; }

/*# sourceMappingURL=../maps/styles.css.map */
